.form-container{
   max-width: 350px;
   padding: 1rem;
   background-color: rgb(49, 49, 49);
   color: rgb(213, 69, 218);
   box-shadow: 5000px;
   border-radius: 9px;
}

h1{
    font-family: arial  bold;
    width: 110px;
}

